a {
  position: relative;
  text-decoration: none;
}
a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3459e6;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a:hover:before {
  visibility: visible;
  width: 100%;
}
