<div class="my-4 mx-4">
  <a [routerLink]="['/']"><i class="bi bi-arrow-left"></i> Go Back</a>
</div>

<form class="w-50 mx-auto" [formGroup]="reactiveForm">
  <div class="card add-card p-5">
    <div class="mb-3">
      <p class="fs-1 text-center fw-bold text-primary">Add Blog</p>
      <p class="text-center">Express your thoughts in different topics</p>
    </div>

    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
      />

      <div
        *ngIf="
          reactiveForm.get('title').invalid && reactiveForm.get('title').touched
        "
      >
        <small
          class="text-danger"
          *ngIf="reactiveForm.get('title').errors['required']"
          >Title is required</small
        >
        <small
          class="text-danger"
          *ngIf="reactiveForm.get('title').errors['minlength']"
          >"Ensure this value has at least 3 characters"</small
        >
      </div>
    </div>

    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input
        type="text"
        class="form-control"
        id="author"
        formControlName="author"
      />
      <div
        *ngIf="
          reactiveForm.get('author').invalid &&
          reactiveForm.get('author').touched
        "
      >
        <small
          class="text-danger"
          *ngIf="reactiveForm.get('author').errors['required']"
          >author is required</small
        >
        <small
          class="text-danger"
          *ngIf="reactiveForm.get('author').errors['minlength']"
          >"Ensure this value has at least 3 characters"</small
        >
      </div>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea
        class="form-control"
        id="content"
        formControlName="content"
      ></textarea>
      <div
        *ngIf="
          reactiveForm.get('content').invalid &&
          reactiveForm.get('content').touched
        "
      >
        <small
          class="text-danger"
          *ngIf="reactiveForm.get('content').errors['required']"
          >content is required</small
        >
        <small
          class="text-danger"
          *ngIf="reactiveForm.get('content').errors['minlength']"
          >"Ensure this value has at least 10 characters"</small
        >
      </div>
    </div>
    <button class="btn btn-primary btn-lg mx-auto" (click)="onSubmit()">
      Submit
    </button>
  </div>
</form>
